// $containerWidth:1310px;
$primary-page-color:#222121;
// $secondary-page-color:
$primary-font-family:'Muli', sans-serif;
$colorbalck:#000;
$page-light-gray:#9DA3B9;
$fw-700:700;
$font-icons-family:"Material Icons";
$white:#fff;
$page-footer-color:#EEE;
$rs-btn-primary:#E6562F;
$rs-colordark-gray:#666;
$rs-gary-1: #484848;
$rs-color-red:#E6552F;
